#header1{
    margin-bottom: 10px; 
    background-color: lightgray; 
    padding: 10px;
    max-width: 1228px;
    text-align: center;
}

#nav1{
    background-color: lightgray; 
    padding: 07px;  
    max-width: 1232px;
    text-align: center;
;
}

#asideleft{
    background-color: lightgray;
    padding: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

#asideright{
    display: inline-block;
    background-color: lightgray;
    padding: 100px;
    height: 100px;
    text-align: center;
}

#sec1{
    display: inline-block;
    margin: 10px; 
    background-color: lightgray;
    padding: 100px;
    width: 518px;
    height: 100px;
    text-align: center;
}

#footer1{
    background-color: lightgray; 
    padding: 7px;
    max-width: 1232px;
}